In [3]:
import pandas as pd
iris = pd.read_csv('iris.data.csv')
iris.head()

,Sepal length in cm,Sepal width in cm,Petal length in cm,Petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [4]:
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

In [5]:
iris.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
from sklearn.model_selection import train_test_split

X=iris[['sepal length', 'sepal width', 'petal length', 'petal width']]  # Features
y=iris['class']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [12]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(105, 4)
(45, 4)
(105,)
(45,)

In [13]:
print(y_test)

102     Iris-virginica
58     Iris-versicolor
123     Iris-virginica
44         Iris-setosa
78     Iris-versicolor
19         Iris-setosa
140     Iris-virginica
24         Iris-setosa
85     Iris-versicolor
148     Iris-virginica
60     Iris-versicolor
12         Iris-setosa
62     Iris-versicolor
142     Iris-virginica
116     Iris-virginica
35         Iris-setosa
36         Iris-setosa
43         Iris-setosa
52     Iris-versicolor
118     Iris-virginica
129     Iris-virginica
53     Iris-versicolor
45         Iris-setosa
64     Iris-versicolor
37         Iris-setosa
50     Iris-versicolor
124     Iris-virginica
77     Iris-versicolor
10         Iris-setosa
9          Iris-setosa
115     Iris-virginica
29         Iris-setosa
15         Iris-setosa
2          Iris-setosa
105     Iris-virginica
147     Iris-virginica
111     Iris-virginica
61     Iris-versicolor
137     Iris-virginica
121     Iris-virginica
143     Iris-virginica
135     Iris-virginica
83     Iris-versicolor
101     Iris-virginica
17         Iris-setosa
Name: class, dtype: object

In [14]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [15]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?w
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9555555555555556